html, body {
    margin: 0;
    padding: 0;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
