html, body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#container {
    background-color:salmon;
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    height: 160px;
}

.pixel {
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.generator {
    
}