html, body {
    margin: 0;
    padding: 0;
    background-color: blue;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    padding: 16px;
}

h1 {
    background-color: skyblue;
    border-radius: 0 16px;
    padding: 16px;
    color: blue;
    border: 3px solid black;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: gold;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0 60px;
    background-color: skyblue;
    border-radius: 36px;
    border: 3px solid black;
}

#pixelContainer {
    background-color:salmon;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 3px solid black;
}

.pixel {
    background-color: white;
    margin: 0;
    padding: 0;
}

.options-one {
    background-color: rgb(218, 49, 49);
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 50px 0 0 50px;
    width: 200px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

.options-two {
    background-color: rgb(218, 49, 49);
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 0 0 50px 0;
    width: 200px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

.middleBox {
    background-color: rgb(218, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 732px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.colorButtonsContainer div {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 3em;
    border: 3px solid black;
}

.colorButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 160px;
    background-color: salmon;
    margin: 20px;
    border: 3px solid black;
    border-radius: 16px;
}

.sizeButtonsContainer {
    display: flex;
    flex-direction: column;
    background-color: salmon;
    border: 3px solid black;
    border-radius: 16px;
    width: 160px;
    padding: 8px;
}

.sizeButtonsContainer input, .reset {
    margin: 8px;
    border: 3px solid black;
    border-radius: 2em;
    background-color:rgb(218, 49, 49);
    color: gold;
}